body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search {
    margin-bottom: 20px;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
}

#search-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.job-listings {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.job {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.job h2 {
    margin: 0;
}

.job p {
    margin: 5px 0;
}
